STRIPE_KEY = your_stripe_key

SECRET_KEY = your_secret_key

DATABASE_NAME = your_database_name
DATABASE_USER = your_database_port
DATABASE_PASSWORD = your_database_password
DATABASE_HOST = your_database_host
DATABASE_PORT = your_database_port

BROKER_URL = your_broker_url
RESULT_BACKEND = your_result_backend
TASK_TRACK_STARTED = your_task_track_started
TASK_TIME_LIMIT = your_task_time_limit

EMAIL_HOST_USER = your_email_host_user
EMAIL_HOST_PASSWORD = your_email_host_password
